img {
    /* transform: translate(200px, 100px); */
    transition: transform 2s;
}

img:hover {
    /* transform: scale(125%, 125%); */
    /* transform: rotateZ(-45deg); */
    transform: skew(45deg);
}

h1 {
    /* transform: rotateZ(90deg); */
}